cslreports/CSL/App_WebReferences/svcCDC/cdc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="SOAWebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="urn:PessoaJuridicaNFe" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="urn:PessoaFisicaNFe" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="SOAWebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h3&gt;SOA WebServices - CDC&lt;/h3&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="SOAWebServices">
      <s:import namespace="urn:PessoaJuridicaNFe" />
      <s:import namespace="urn:PessoaFisicaNFe" />
      <s:element name="PessoaFisicaEstendida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Credenciais">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PessoaFisicaEstendidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PessoaFisicaEstendidaResult" type="tns:PessoaFisicaEstendida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PessoaFisicaEstendida">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeMae" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataNascimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Escolaridade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Enderecos" type="tns:ArrayOfEndereco" />
              <s:element minOccurs="0" maxOccurs="1" name="Telefones" type="tns:ArrayOfTelefone" />
              <s:element minOccurs="0" maxOccurs="1" name="Emails" type="tns:ArrayOfEmail" />
              <s:element minOccurs="0" maxOccurs="1" name="AtividadeProfissional" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RendaPresumida" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cargo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="Email">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Telefone">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TipoTelefone" type="tns:TiposTelefones" />
              <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Ramal" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TiposTelefones">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Residencial" />
          <s:enumeration value="Comercial" />
          <s:enumeration value="Celular" />
          <s:enumeration value="Fax" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Endereco">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TiposEnderecos" />
              <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GeoLocalizacao" type="tns:GeoLocalizacao" />
              <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoIBGE" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TiposEnderecos">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Residencial" />
          <s:enumeration value="Comercial" />
          <s:enumeration value="Fiscal" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="GeoLocalizacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEndereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Endereco" nillable="true" type="tns:Endereco" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTelefone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Telefone" nillable="true" type="tns:Telefone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email" />
        </s:sequence>
      </s:complexType>
      <s:element name="PessoaFisicaSimplificada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaSimplificadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PessoaFisicaSimplificadaResult" type="tns:PessoaFisicaSimplificada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PessoaFisicaSimplificada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PessoaJuridicaSimplificada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaJuridicaSimplificadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PessoaJuridicaSimplificadaResult" type="tns:PessoaJuridicaSimplificada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PessoaJuridicaSimplificada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PessoaJuridicaNFe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaJuridicaNFeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s1:PessoaJuridicaNFeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaNFe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaNFeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s2:PessoaFisicaNFeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:PessoaJuridicaNFe">
      <s:element name="PessoaJuridicaNFeResult" nillable="true" type="s1:PessoaJuridicaNFe" />
      <s:complexType name="PessoaJuridicaNFe">
        <s:complexContent mixed="false">
          <s:extension base="s1:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeFantasia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataFundacao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoAtividadeEconomica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoAtividadeEconomicaDescricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoNaturezaJuridica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoNaturezaJuridicaDescricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataConsultaRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MotivoSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MotivoEspecialSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataMotivoEspecialSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CNAES" type="s1:ArrayOfCNAE" />
              <s:element minOccurs="0" maxOccurs="1" name="Enderecos" type="s1:ArrayOfEndereco" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="Endereco">
        <s:complexContent mixed="false">
          <s:extension base="s1:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s1:TiposEnderecos" />
              <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GeoLocalizacao" type="s1:GeoLocalizacao" />
              <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoIBGE" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TiposEnderecos">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Residencial" />
          <s:enumeration value="Comercial" />
          <s:enumeration value="Fiscal" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="GeoLocalizacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CNAE">
        <s:complexContent mixed="false">
          <s:extension base="s1:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CNAE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CNAEDescricao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCNAE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CNAE" nillable="true" type="s1:CNAE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEndereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Endereco" nillable="true" type="s1:Endereco" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:PessoaFisicaNFe">
      <s:element name="PessoaFisicaNFeResult" nillable="true" type="s2:PessoaFisicaNFe" />
      <s:complexType name="PessoaFisicaNFe">
        <s:complexContent mixed="false">
          <s:extension base="s2:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataConsultaRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProtocoloRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DigitoVerificador" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PessoaFisicaEstendidaSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaFisicaEstendida" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaEstendidaSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaFisicaEstendidaResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaSimplificadaSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaFisicaSimplificada" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaSimplificadaSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaFisicaSimplificadaResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaSimplificadaSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaSimplificada" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaSimplificadaSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaSimplificadaResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaNFeSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaNFe" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaNFeSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaNFeResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaNFeSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaFisicaNFe" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaNFeSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaFisicaNFeResponse" />
  </wsdl:message>
  <wsdl:portType name="CDCSoap">
    <wsdl:operation name="PessoaFisicaEstendida">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CDC Pessoa Fisica Estendida&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaFisicaEstendidaSoapIn" />
      <wsdl:output message="tns:PessoaFisicaEstendidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaSimplificada">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CDC Pessoa Fisica Simplificada&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaFisicaSimplificadaSoapIn" />
      <wsdl:output message="tns:PessoaFisicaSimplificadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplificada">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CDC Pessoa Juridica Estendida&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaJuridicaSimplificadaSoapIn" />
      <wsdl:output message="tns:PessoaJuridicaSimplificadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmacao de Dados Cadastrais Pessoa Juridica - NFe&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaJuridicaNFeSoapIn" />
      <wsdl:output message="tns:PessoaJuridicaNFeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmacao de Dados Cadastrais Pessoa Fisica - NFe&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaFisicaNFeSoapIn" />
      <wsdl:output message="tns:PessoaFisicaNFeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CDCHttpGet" />
  <wsdl:portType name="CDCHttpPost" />
  <wsdl:binding name="CDCSoap" type="tns:CDCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PessoaFisicaEstendida">
      <soap:operation soapAction="SOAWebServices/PessoaFisicaEstendida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaSimplificada">
      <soap:operation soapAction="SOAWebServices/PessoaFisicaSimplificada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplificada">
      <soap:operation soapAction="SOAWebServices/PessoaJuridicaSimplificada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFe">
      <soap:operation soapAction="SOAWebServices/PessoaJuridicaNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFe">
      <soap:operation soapAction="SOAWebServices/PessoaFisicaNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CDCSoap12" type="tns:CDCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PessoaFisicaEstendida">
      <soap12:operation soapAction="SOAWebServices/PessoaFisicaEstendida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaSimplificada">
      <soap12:operation soapAction="SOAWebServices/PessoaFisicaSimplificada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplificada">
      <soap12:operation soapAction="SOAWebServices/PessoaJuridicaSimplificada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFe">
      <soap12:operation soapAction="SOAWebServices/PessoaJuridicaNFe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFe">
      <soap12:operation soapAction="SOAWebServices/PessoaFisicaNFe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CDCHttpGet" type="tns:CDCHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="CDCHttpPost" type="tns:CDCHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="CDC">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h3&gt;SOA WebServices - CDC&lt;/h3&gt;</wsdl:documentation>
    <wsdl:port name="CDCSoap" binding="tns:CDCSoap">
      <soap:address location="http://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" />
    </wsdl:port>
    <wsdl:port name="CDCSoap12" binding="tns:CDCSoap12">
      <soap12:address location="http://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" />
    </wsdl:port>
    <wsdl:port name="CDCHttpGet" binding="tns:CDCHttpGet">
      <http:address location="http://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" />
    </wsdl:port>
    <wsdl:port name="CDCHttpPost" binding="tns:CDCHttpPost">
      <http:address location="http://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>