wfbSolution/BiPh/Web References/svcCDC/cdc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="SOAWebServices" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s4="urn:PessoaFisicaNFe" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s5="urn:SinteseCadastral" xmlns:s1="urn:PessoaJuridicaNFeEstendida" xmlns:s2="urn:PessoaJuridicaNFe" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="urn:PessoaJuridicaSimplesNacional" targetNamespace="SOAWebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h3&gt;SOA WebServices - CDC&lt;/h3&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="SOAWebServices">
      <s:import namespace="urn:PessoaJuridicaNFeEstendida" />
      <s:import namespace="urn:PessoaJuridicaNFe" />
      <s:import namespace="urn:PessoaJuridicaSimplesNacional" />
      <s:import namespace="urn:PessoaFisicaNFe" />
      <s:import namespace="urn:SinteseCadastral" />
      <s:element name="PessoaJuridicaEstendida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Credenciais">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PessoaJuridicaEstendidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PessoaJuridicaEstendidaResult" type="tns:PessoaJuridicaEstendida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PessoaJuridicaEstendida">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeFantasia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataFundacao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Capital" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MatrizFilial" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoAtividadeEconomica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoAtividadeEconomicaDescricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoNaturezaJuridica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoNaturezaJuridicaDescricao" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="QuantidadeFuncionarios" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QuantidadeFiliais" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Sintegra" type="tns:InformacoesSintegra" />
              <s:element minOccurs="0" maxOccurs="1" name="SimplesNacional" type="tns:PessoaJuridicaSimplesNacional" />
              <s:element minOccurs="0" maxOccurs="1" name="InscricaoEstadual" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Porte" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataConsultaRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nire" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Site" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QuadroSocial" type="tns:ArrayOfSocio" />
              <s:element minOccurs="0" maxOccurs="1" name="CNAES" type="tns:ArrayOfCNAE" />
              <s:element minOccurs="0" maxOccurs="1" name="Enderecos" type="tns:ArrayOfEndereco" />
              <s:element minOccurs="0" maxOccurs="1" name="Telefones" type="tns:ArrayOfTelefone" />
              <s:element minOccurs="0" maxOccurs="1" name="Emails" type="tns:ArrayOfEmail" />
              <s:element minOccurs="1" maxOccurs="1" name="FaturamentoPresumido" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Raw" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Ativo" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="tns:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="Email">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Telefone">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TipoTelefone" type="tns:TiposTelefones" />
              <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Ramal" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TiposTelefones">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Residencial" />
          <s:enumeration value="Comercial" />
          <s:enumeration value="Celular" />
          <s:enumeration value="Fax" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="GeoLocalizacao">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Endereco">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TiposEnderecos" />
              <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GeoLocalizacao" type="tns:GeoLocalizacao" />
              <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoIBGE" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TiposEnderecos">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Residencial" />
          <s:enumeration value="Comercial" />
          <s:enumeration value="Fiscal" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CNAE">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CNAE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CNAEDescricao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Agendamento">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DataHoraAgendamento" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Situacao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EventoFuturos">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PeriodoSINAC">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Inicio" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fim" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PeriodoSIMEI">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Inicio" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fim" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PessoaJuridicaSimplesNacional">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SIMEI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SINAC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataOpcaoSIMEI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataOpcaoSINAC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="PeriodosSIMEI" type="tns:PeriodoSIMEI" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="PeriodosSINAC" type="tns:PeriodoSINAC" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="EventosFuturos" type="tns:EventoFuturos" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="Agendamentos" type="tns:Agendamento" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="InformacoesSintegra">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InscricaoEstadual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SituacaoCadastral" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegimeApuracao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataSituacaoCadastral" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataConsultaSintegra" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSocio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Socio" nillable="true" type="tns:Socio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Socio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Pessoa" type="tns:TipoSocio" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Participacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cargo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataEntrada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeRepresentanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CargoRepresentanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaisOrigem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoSocio">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Fisica" />
          <s:enumeration value="Juridica" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCNAE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CNAE" nillable="true" type="tns:CNAE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEndereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Endereco" nillable="true" type="tns:Endereco" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTelefone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Telefone" nillable="true" type="tns:Telefone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatusDescricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PessoaJuridicaNFeEstendida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaJuridicaNFeEstendidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s1:PessoaJuridicaNFeEstendidaResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaJuridicaSimplificada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaJuridicaSimplificadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PessoaJuridicaSimplificadaResult" type="tns:PessoaJuridicaSimplificada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PessoaJuridicaSimplificada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="tns:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PessoaJuridicaNFe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaJuridicaNFeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s2:PessoaJuridicaNFeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaJuridicaSimplesNacional">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaJuridicaSimplesNacionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s3:PessoaJuridicaSimplesNacionalResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaLocalizador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Exata" type="tns:TipoPesquisa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="TipoPesquisa">
        <s:restriction base="s:string">
          <s:enumeration value="Parcial" />
          <s:enumeration value="Exata" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PessoaFisicaLocalizadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PessoaFisicaLocalizadorResult" type="tns:PessoasFisicaEstendidaLocalizador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PessoasFisicaEstendidaLocalizador">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PessoasFisicaLocalizador" type="tns:ArrayOfPessoaFisicaEstendidaLocalizador" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalOcorrencias" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="tns:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPessoaFisicaEstendidaLocalizador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PessoaFisicaEstendidaLocalizador" nillable="true" type="tns:PessoaFisicaEstendidaLocalizador" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PessoaFisicaEstendidaLocalizador">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="tns:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PessoaFisicaEstendida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaEstendidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PessoaFisicaEstendidaResult" type="tns:PessoaFisicaEstendida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PessoaFisicaEstendida">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeMae" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataNascimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Escolaridade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProtocoloRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DigitoVerificador" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DataConsultaRFB" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Enderecos" type="tns:ArrayOfEndereco" />
              <s:element minOccurs="0" maxOccurs="1" name="Telefones" type="tns:ArrayOfTelefone" />
              <s:element minOccurs="0" maxOccurs="1" name="Emails" type="tns:ArrayOfEmail" />
              <s:element minOccurs="0" maxOccurs="1" name="Participacoes" type="tns:ArrayOfParticipacao" />
              <s:element minOccurs="0" maxOccurs="1" name="AtividadeProfissional" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RendaPresumida" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cargo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="tns:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfParticipacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Participacao" nillable="true" type="tns:Participacao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Participacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PessoaFisicaSimplificada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataNascimento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaSimplificadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PessoaFisicaSimplificadaResult" type="tns:PessoaFisicaSimplificada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PessoaFisicaSimplificada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="tns:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PessoaFisicaNFe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataNascimento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaNFeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s4:PessoaFisicaNFeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SinteseCadastral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SinteseCadastralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s5:SinteseCadastralResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaNFeSemDataNascimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PessoaFisicaNFeSemDataNascimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" ref="s4:PessoaFisicaNFeSemDataNascimentoResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:PessoaJuridicaNFeEstendida">
      <s:element name="PessoaJuridicaNFeEstendidaResult" nillable="true" type="s1:PessoaJuridicaNFeEstendida" />
      <s:complexType name="PessoaJuridicaNFeEstendida">
        <s:complexContent mixed="false">
          <s:extension base="s1:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeFantasia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataFundacao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoAtividadeEconomica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoAtividadeEconomicaDescricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoNaturezaJuridica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoNaturezaJuridicaDescricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataConsultaRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MotivoSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MotivoEspecialSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataMotivoEspecialSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CNAES" type="s1:ArrayOfCNAE" />
              <s:element minOccurs="0" maxOccurs="1" name="Enderecos" type="s1:ArrayOfEndereco" />
              <s:element minOccurs="0" maxOccurs="1" name="Cartao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PDF" type="s:base64Binary" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s1:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="GeoLocalizacao">
        <s:complexContent mixed="false">
          <s:extension base="s1:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Endereco">
        <s:complexContent mixed="false">
          <s:extension base="s1:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s1:TiposEnderecos" />
              <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GeoLocalizacao" type="s1:GeoLocalizacao" />
              <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoIBGE" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TiposEnderecos">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Residencial" />
          <s:enumeration value="Comercial" />
          <s:enumeration value="Fiscal" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CNAE">
        <s:complexContent mixed="false">
          <s:extension base="s1:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CNAE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CNAEDescricao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCNAE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CNAE" nillable="true" type="s1:CNAE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEndereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Endereco" nillable="true" type="s1:Endereco" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatusDescricao" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:PessoaJuridicaNFe">
      <s:element name="PessoaJuridicaNFeResult" nillable="true" type="s2:PessoaJuridicaNFe" />
      <s:complexType name="PessoaJuridicaNFe">
        <s:complexContent mixed="false">
          <s:extension base="s2:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeFantasia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataFundacao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MatrizFilial" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Capital" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoAtividadeEconomica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoAtividadeEconomicaDescricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoNaturezaJuridica" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoNaturezaJuridicaDescricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataConsultaRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MotivoSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MotivoEspecialSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataMotivoEspecialSituacaoRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="CNAES" type="s2:CNAE" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="Enderecos" type="s2:Endereco" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QSA" type="s2:QSA" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s2:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="GeoLocalizacao">
        <s:complexContent mixed="false">
          <s:extension base="s2:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Endereco">
        <s:complexContent mixed="false">
          <s:extension base="s2:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s2:TiposEnderecos" />
              <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GeoLocalizacao" type="s2:GeoLocalizacao" />
              <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoIBGE" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TiposEnderecos">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Residencial" />
          <s:enumeration value="Comercial" />
          <s:enumeration value="Fiscal" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CNAE">
        <s:complexContent mixed="false">
          <s:extension base="s2:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CNAE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CNAEDescricao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="QSA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Socios" type="s2:Socio" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Administradores" type="s2:Administrador" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagens" type="s2:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Socio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Pessoa" type="s2:TipoSocio" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Participacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cargo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataEntrada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeRepresentanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CargoRepresentanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaisOrigem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoSocio">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Fisica" />
          <s:enumeration value="Juridica" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Administrador">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Pessoa" type="s2:TipoAdministrador" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cargo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoAdministrador">
        <s:restriction base="s:string">
          <s:enumeration value="NaoInformado" />
          <s:enumeration value="Fisica" />
          <s:enumeration value="Juridica" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatusDescricao" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:PessoaJuridicaSimplesNacional">
      <s:element name="PessoaJuridicaSimplesNacionalResult" nillable="true" type="s3:PessoaJuridicaSimplesNacional" />
      <s:complexType name="PessoaJuridicaSimplesNacional">
        <s:complexContent mixed="false">
          <s:extension base="s3:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SIMEI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SINAC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataOpcaoSIMEI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataOpcaoSINAC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="PeriodosSIMEI" type="s3:PeriodoSIMEI" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="PeriodosSINAC" type="s3:PeriodoSINAC" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="EventosFuturos" type="s3:EventoFuturos" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="Agendamentos" type="s3:Agendamento" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s3:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="Agendamento">
        <s:complexContent mixed="false">
          <s:extension base="s3:Serialization">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DataHoraAgendamento" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Situacao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EventoFuturos">
        <s:complexContent mixed="false">
          <s:extension base="s3:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PeriodoSINAC">
        <s:complexContent mixed="false">
          <s:extension base="s3:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Inicio" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fim" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PeriodoSIMEI">
        <s:complexContent mixed="false">
          <s:extension base="s3:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Inicio" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Fim" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Transacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatusDescricao" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:PessoaFisicaNFe">
      <s:element name="PessoaFisicaNFeResult" nillable="true" type="s4:PessoaFisicaNFe" />
      <s:complexType name="PessoaFisicaNFe">
        <s:complexContent mixed="false">
          <s:extension base="s4:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataNascimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataInscricao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AnoObito" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MensagemObito" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoSituacaoCadastral" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SituacaoRFB" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DataConsultaRFB" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ProtocoloRFB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DigitoVerificador" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s4:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="Transacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatusDescricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PessoaFisicaNFeSemDataNascimentoResult" nillable="true" type="s4:PessoaFisicaNFe" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:SinteseCadastral">
      <s:element name="SinteseCadastralResult" nillable="true" type="s5:SinteseCadastral" />
      <s:complexType name="SinteseCadastral">
        <s:complexContent mixed="false">
          <s:extension base="s5:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeMae" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataNascimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Transacao" type="s5:Transacao" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="Transacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoStatusDescricao" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PessoaJuridicaEstendidaSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaEstendida" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaEstendidaSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaEstendidaResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaNFeEstendidaSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaNFeEstendida" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaNFeEstendidaSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaNFeEstendidaResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaSimplificadaSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaSimplificada" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaSimplificadaSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaSimplificadaResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaNFeSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaNFe" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaNFeSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaNFeResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaSimplesNacionalSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaSimplesNacional" />
  </wsdl:message>
  <wsdl:message name="PessoaJuridicaSimplesNacionalSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaJuridicaSimplesNacionalResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaLocalizadorSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaFisicaLocalizador" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaLocalizadorSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaFisicaLocalizadorResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaEstendidaSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaFisicaEstendida" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaEstendidaSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaFisicaEstendidaResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaSimplificadaSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaFisicaSimplificada" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaSimplificadaSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaFisicaSimplificadaResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaNFeSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaFisicaNFe" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaNFeSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaFisicaNFeResponse" />
  </wsdl:message>
  <wsdl:message name="SinteseCadastralSoapIn">
    <wsdl:part name="parameters" element="tns:SinteseCadastral" />
  </wsdl:message>
  <wsdl:message name="SinteseCadastralSoapOut">
    <wsdl:part name="parameters" element="tns:SinteseCadastralResponse" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaNFeSemDataNascimentoSoapIn">
    <wsdl:part name="parameters" element="tns:PessoaFisicaNFeSemDataNascimento" />
  </wsdl:message>
  <wsdl:message name="PessoaFisicaNFeSemDataNascimentoSoapOut">
    <wsdl:part name="parameters" element="tns:PessoaFisicaNFeSemDataNascimentoResponse" />
  </wsdl:message>
  <wsdl:portType name="CDCSoap">
    <wsdl:operation name="PessoaJuridicaEstendida">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CDC Pessoa Juridica Estendida&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaJuridicaEstendidaSoapIn" />
      <wsdl:output message="tns:PessoaJuridicaEstendidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFeEstendida">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmacao de Dados Cadastrais Pessoa Juridica - NFe&lt;br /&gt;Retorna Carto do CNPJ em HTML e PDF&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaJuridicaNFeEstendidaSoapIn" />
      <wsdl:output message="tns:PessoaJuridicaNFeEstendidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplificada">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CDC Pessoa Juridica Estendida&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaJuridicaSimplificadaSoapIn" />
      <wsdl:output message="tns:PessoaJuridicaSimplificadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmacao de Dados Cadastrais Pessoa Juridica - NFe&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaJuridicaNFeSoapIn" />
      <wsdl:output message="tns:PessoaJuridicaNFeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplesNacional">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pessoa Juridica Simples Nacional&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaJuridicaSimplesNacionalSoapIn" />
      <wsdl:output message="tns:PessoaJuridicaSimplesNacionalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaLocalizador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CDC Pessoa Fisica Localizador&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaFisicaLocalizadorSoapIn" />
      <wsdl:output message="tns:PessoaFisicaLocalizadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaEstendida">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CDC Pessoa Fisica Estendida&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaFisicaEstendidaSoapIn" />
      <wsdl:output message="tns:PessoaFisicaEstendidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaSimplificada">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CDC Pessoa Fisica Simplificada&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaFisicaSimplificadaSoapIn" />
      <wsdl:output message="tns:PessoaFisicaSimplificadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmacao de Dados Cadastrais Pessoa Fisica - NFe&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:PessoaFisicaNFeSoapIn" />
      <wsdl:output message="tns:PessoaFisicaNFeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SinteseCadastral">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sintese Cadastral Pessoa Fisica/Juridica&lt;br /&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:SinteseCadastralSoapIn" />
      <wsdl:output message="tns:SinteseCadastralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFeSemDataNascimento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmacao de Dados Cadastrais Pessoa Fisica - NFe&lt;br /&gt;&lt;br /&gt;Consulta sem Data de Nascimento</wsdl:documentation>
      <wsdl:input message="tns:PessoaFisicaNFeSemDataNascimentoSoapIn" />
      <wsdl:output message="tns:PessoaFisicaNFeSemDataNascimentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CDCHttpGet" />
  <wsdl:portType name="CDCHttpPost" />
  <wsdl:binding name="CDCSoap" type="tns:CDCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PessoaJuridicaEstendida">
      <soap:operation soapAction="SOAWebServices/PessoaJuridicaEstendida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFeEstendida">
      <soap:operation soapAction="SOAWebServices/PessoaJuridicaNFeEstendida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplificada">
      <soap:operation soapAction="SOAWebServices/PessoaJuridicaSimplificada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFe">
      <soap:operation soapAction="SOAWebServices/PessoaJuridicaNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplesNacional">
      <soap:operation soapAction="SOAWebServices/PessoaJuridicaSimplesNacional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaLocalizador">
      <soap:operation soapAction="SOAWebServices/PessoaFisicaLocalizador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaEstendida">
      <soap:operation soapAction="SOAWebServices/PessoaFisicaEstendida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaSimplificada">
      <soap:operation soapAction="SOAWebServices/PessoaFisicaSimplificada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFe">
      <soap:operation soapAction="SOAWebServices/PessoaFisicaNFe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SinteseCadastral">
      <soap:operation soapAction="SOAWebServices/SinteseCadastral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFeSemDataNascimento">
      <soap:operation soapAction="SOAWebServices/PessoaFisicaNFeSemDataNascimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CDCSoap12" type="tns:CDCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PessoaJuridicaEstendida">
      <soap12:operation soapAction="SOAWebServices/PessoaJuridicaEstendida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFeEstendida">
      <soap12:operation soapAction="SOAWebServices/PessoaJuridicaNFeEstendida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplificada">
      <soap12:operation soapAction="SOAWebServices/PessoaJuridicaSimplificada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaNFe">
      <soap12:operation soapAction="SOAWebServices/PessoaJuridicaNFe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaJuridicaSimplesNacional">
      <soap12:operation soapAction="SOAWebServices/PessoaJuridicaSimplesNacional" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaLocalizador">
      <soap12:operation soapAction="SOAWebServices/PessoaFisicaLocalizador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaEstendida">
      <soap12:operation soapAction="SOAWebServices/PessoaFisicaEstendida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaSimplificada">
      <soap12:operation soapAction="SOAWebServices/PessoaFisicaSimplificada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFe">
      <soap12:operation soapAction="SOAWebServices/PessoaFisicaNFe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SinteseCadastral">
      <soap12:operation soapAction="SOAWebServices/SinteseCadastral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PessoaFisicaNFeSemDataNascimento">
      <soap12:operation soapAction="SOAWebServices/PessoaFisicaNFeSemDataNascimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CDCHttpGet" type="tns:CDCHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="CDCHttpPost" type="tns:CDCHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="CDC">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h3&gt;SOA WebServices - CDC&lt;/h3&gt;</wsdl:documentation>
    <wsdl:port name="CDCSoap" binding="tns:CDCSoap">
      <soap:address location="https://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" />
    </wsdl:port>
    <wsdl:port name="CDCSoap12" binding="tns:CDCSoap12">
      <soap12:address location="https://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" />
    </wsdl:port>
    <wsdl:port name="CDCHttpGet" binding="tns:CDCHttpGet">
      <http:address location="https://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" />
    </wsdl:port>
    <wsdl:port name="CDCHttpPost" binding="tns:CDCHttpPost">
      <http:address location="https://www.soawebservices.com.br/webservices/producao/cdc/cdc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>